<%= form_for @group do |g| %>

  <div>
    <h1 class="header">Edit Group</h1>

    <div class="field">
      <%= g.label :title %><br>
      <%= g.text_field :title %>
    </div>

    <div class="field">
      <%= g.label :course %><br>
      <%= g.text_field :course %>
    </div>

    <div class="field">
      <%= g.label :frequency %><br>
      <%= g.select :frequency, options_for_select(%w[Once Weekly Monthly Other]), {},  class: 'form-control' %>
    </div>
  </div>
  <hr>
  <div class="row">
    <h3 class="header">Optional Info</h3>
    <div class="col-md-3">
      <div class="field">
        <%= g.label :place %><br>
        <%= g.text_field :place %>
      </div>

      <div class="field">
        <%= g.label :time %><br>
        <%= g.time_field :time %>
      </div>

      <div class="field">
        <%= g.label "Date (first meeting)" %><br>
        <%= g.date_field :date %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="field">
        <%= g.label "Notes - Description, Requirements, etc..." %><br>
        <%= g.text_area :description, size: "100x8", maxlength: 600 %>
      </div>
    </div>
  </div>
  <div class="create-group-submit actions" >
    <%= g.submit "Submit", class: 'btn btn-primary' %>
  </p>
<% end %>