<h1>Study Groups for HCI</h1>

<%= link_to "Create new group", new_group_path, class: "btn btn-success" %>

<% if @groups.length < 1 %>
  <hr>
  <h3 class="text-center">No groups have been created.</h3>
<% end %>

<div id="groupList">
  <% @groups.each do |group| %>
    <%= link_to group do %>
      <div class="groupOverview">
        <h3><%= group.title %></h3>

        <%= link_to "See details", group, class: "btn btn-primary btn-lg right" %>

        <div class="groupDetails">
          <% if group.number_of_members == 1 %>
            <p><%= group.number_of_members %> person</p>
          <% else %>
            <p><%= group.number_of_members %> people</p>
          <% end %>

          <p><%= group.leader.name %></p>

          <% if !group.frequency.blank? %>
            <p>Meets <%= group.frequency.downcase %></p>
          <% end %>


          <% if !group.place.blank? %>
            <p><%= group.place %></p>
          <% end %>

          <% if !group.time.blank? %>
            <p><%= group.converted_time %></p>
          <% end %>

          <% if !group.date.blank? %>
            <p><%= group.date.strftime("%a %d %b %Y") %></p>
          <% end %>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
