<h1>Study Groups</h1>

<%= link_to "Create new group", new_group_path, class: "btn btn-success" %>
<%= link_to "Back", welcome_index_path, class: "btn btn-primary" %>

<% if @groups.length < 1 %>
  <hr>
  <h3 class="text-center">No groups to display.</h3>
<% end %>

<div id="groupList">
  <% @groups.each do |group| %>
    <%= link_to group do %>
      <div class="groupOverview">
        <h3><%= group.title %></h3>

        <%= link_to "See details", group, class: "btn btn-primary btn-lg right" %>

        <div class="groupDetails">
          <% if group.number_of_members == 1 %>
            <p><%= group.number_of_members %> member</p>
          <% else %>
            <p><%= group.number_of_members %> members</p>
          <% end %>

          <% if !group.course.blank? %>
              <p><%= group.course %></p>
          <% end %>

          <% if !group.place.blank? %>
            <p><%= group.place %></p>
          <% end %>

          <% if !group.time.blank? %>
            <p><%= group.converted_time %></p>
          <% end %>

          <% if !group.date.blank? %>
            <p><%= group.date.strftime("%a %d %b %Y") %></p>
          <% end %>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
