<h1>Study Groups for HCI</h1>

<%= link_to "Create new group", new_group_path, class: "btn btn-success" %>

<div id="groupList">
  <% @groups.each do |group| %>
    <%= link_to group do %>
      <div class="groupOverview">
        <h3><%= group.leader %></h3>

        <%= link_to "See details", group, class: "btn btn-primary btn-lg right" %>

        <div class="groupDetails">
          <% if group.participantNumber == 1 %>
            <p><%= group.participantNumber %> person</p>
          <% else %>
            <p><%= group.participantNumber %> people</p>
          <% end %>

          <% if !group.frequency.blank? %>
            <p>Meets <%= group.frequency.downcase %></p>
          <% end %>


          <% if !group.place.blank? %>
            <p><%= group.place %></p>
          <% end %>

          <% if !group.time.blank? %>
            <p><%= group.time %></p>
          <% end %>

          <% if !group.dayOfWeek.blank? %>
            <p><%= group.dayOfWeek %></p>
          <% end %>

          <% if !group.date.blank? %>
            <p><%= group.date %></p>
          <% end %>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
