<h1>New Group</h1>

<%= form_for :group, url:groups_path do |g| %>
  <%= g.hidden_field :leader_id, value: current_user._id %>
  <%= g.hidden_field :member_id, value: current_user._id %>

  <p>
    <%= g.label :title %><br>
    <%= g.text_field :title %>
  </p>

  <p>
    <%= g.label :course %><br>
    <%= g.text_field :course %>
  </p>

  <p>
    <%= g.label :frequency %><br>
    <%= g.select :frequency, options_for_select(%w[Once Weekly Monthly]) %>
  </p>

  <p>
    <%= g.label :place %><br>
    <%= g.text_field :place %>
  </p>

  <p>
    <%= g.label :time %><br>
    <%= g.time_field :time %>
  </p>

  <p>
    <%= g.label :dayOfWeek %><br>
    <%= g.text_field :dayOfWeek %>
  </p>

  <p>
    <%= g.label :date %><br>
    <%= g.date_field :date %>
  </p>
 
  <p>
    <%= g.submit %>
  </p>
<% end %>