<h1>New Group</h1>

<%= form_for :group, url:groups_path do |g| %>
  <p>
    <%= g.label :leader %><br>
    <%= g.text_field :leader %>
  </p>
 
  <p>
    <%= g.label :course %><br>
    <%= g.text_field :course %>
  </p>
 
  <p>
    <%= g.submit %>
  </p>
<% end %>