<p>
  <strong>Leader:</strong>
  <%= @group.leader %>
</p>

<p>
 <strong>Course:</strong>
 <%= @group.course %>
</p>

<p>
 <strong>Particpant number:</strong>
 <%= @group.participantNumber %>
</p>

<p>
 <strong>Frequency:</strong>
 <%= @group.frequency %>
</p>

<p>
 <strong>Place:</strong>
 <%= @group.place %>
</p>

<p>
 <strong>Time:</strong>
 <%= @group.time %>
</p>

<p>
   <strong>Day:</strong>
 <%= @group.dayOfWeek %>
</p>

<p>
 <strong>Date:</strong>
 <%= @group.date %>
</p>