<div class="row">
	<div class="box-left col-md-8">
		<h3>Qualifications</h3>
		<!-- 
			This list should be checkboxes. 
			This needs to be put into the database.
			Should not be allowed to hit 'Apply' unless all boxes are checked
		-->
		<ul>
			<li>First</li>
			<li>Second</li>
		</ul>
	</div>


	<div class="box-right col-md-4">
    <p>
        <strong>Title:</strong>
        <%= @group.title %>
    </p>
		<p>
			<strong>Leader:</strong>
			<%= @group.leader.name %>
		</p>

		<p>
			<strong>Course:</strong>
			<%= @group.course %>
		</p>

		<p>
			<strong>Total members: </strong>
			<%= @group.number_of_members %>
		</p>

		<p>
			<strong>Frequency:</strong>
			<%= @group.frequency %>
		</p>

		<p>
			<strong>Place:</strong>
			<% if @group.place.blank? %>
					Undecided
				<% else %>
					<%= @group.place %>
				<% end %>
		</p>

		<p>
			<strong>Time:</strong>
			<% if @group.time.blank? %>
					Undecided
				<% else %>
					<%= @group.converted_time %>
				<% end %>
		</p>

		<p>
			<strong>Date:</strong>
			<% if @group.date.blank? %>
					Undecided
				<% else %>
					<%= @group.date %>
				<% end %>
		</p>
	</div>
</div>
<br>
<div class="row" align="center">
  <div id="group-buttons" class="">
    <% if current_user.is_leader @group %>
      <%= link_to "Applications", group_applications_path(group_id: @group._id), class: "btn btn-primary" %>
      <%= link_to "Destroy", group_path(@group._id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
    <% elsif current_user.is_member @group %>
      <%= link_to "Leave", group_path(@group._id, user_id: current_user._id), data: { confirm: 'Are you sure?' }, method: :put, class: "btn btn-danger" %>
    <% elsif current_user.is_pending_applicant? @group %>
      <div class="applyBtnContainer" title="Application Pending">
        <%= button_to "Apply", group_applications_path(group_application: {group_id: @group._id, user_id: current_user._id}), class: "btn btn-primary", disabled: true%>
      </div>
    <% else %>
      <div class="applyBtnContainer">
        <%= button_to "Apply", group_applications_path(group_application: {group_id: @group._id, user_id: current_user._id}), class: "btn btn-primary"%>
      </div>
    <% end %>
      <%= link_to "Groups", groups_path, class: "btn btn-primary" %>
  </div>
</div>
<br>
<hr>
<br>

<div id="group-calendar" class="box-left col-md-10 col-md-offset-1">
  <iframe src="https://www.google.com/calendar/embed?title=Group Schedule&<%= @group.calendars_string %>"
          width=100% height=100% style="border: 0" frameborder="0" scrolling="no">
  </iframe>
</div>


<script>
  $( document ).ready(function() {
    var calendar_width = $('#group-calendar').width();
    $('#group-calendar').css( {'height': calendar_width*0.75 + 'px'} );
  });
</script>