<div class="row">
	<div class="box-left col-md-8">
		<h3>Qualifications</h3>
		<!-- 
			This list should be checkboxes. 
			This needs to be put into the database.
			Should not be allowed to hit 'Apply' unless all boxes are checked
		-->
		<ul>
			<li>First</li>
			<li>Second</li>
		</ul>
	</div>


	<div class="box-right col-md-4">
		<p>
			<strong>Leader:</strong>
			<%= @group.leader.name %>
		</p>

		<p>
			<strong>Course:</strong>
			<%= @group.course %>
		</p>

		<p>
			<strong>Total members: </strong>
			<%= @group.number_of_members %>
		</p>

		<p>
			<strong>Frequency:</strong>
			<%= @group.frequency %>
		</p>

		<p>
			<strong>Place:</strong>
			<% if @group.place.blank? %>
					Undecided
				<% else %>
					<%= @group.place %>
				<% end %>
		</p>

		<p>
			<strong>Time:</strong>
			<% if @group.time.blank? %>
					Undecided
				<% else %>
					<%= @group.time %>
				<% end %>
		</p>

		<p>
			<strong>Day:</strong>
				<% if @group.dayOfWeek.blank? %>
					Undecided
				<% else %>
					<%= @group.dayOfWeek %>
				<% end %>
		</p>

		<p>
			<strong>Date:</strong>
			<% if @group.date.blank? %>
					Undecided
				<% else %>
					<%= @group.date %>
				<% end %>
		</p>
	</div>
</div>

<%= button_to "Apply", group_applications_path(group_application: {group_id: @group._id, user_id: current_user._id}), class: "btn btn-primary"%>