<div class="container">
	<h1>Welcome, <%= current_user.name %>!</h1>
  <br>

  <%= link_to "My groups", groups_path(scope: "my groups"), class: "btn btn-primary" %>
  <%= link_to "Groups Pending", groups_path(scope: "pending"), class: "btn btn-primary" %>
	<%= link_to "Explore groups", groups_path(scope: "new"), class: "btn btn-default" %>
	<%= link_to "Create group", new_group_path, class: "btn btn-success" %>
</div>