<div class="container">
  <h1>Welcome, <%= current_user.name %>!</h1>


  <div>
    Application name here:
    <%= link_to "Request Instance", new_reservation_path, class: "btn btn-primary" %>
  </div>
    <h3 class="reservations-header"> Reservations: </h3>
    <ul class="list-group">
      <% @reservations.each do |res| %>
        <li class="list-group-item">
          <div> Container name: <%=truncate(res.container_name, length: 13)%> </div>
          <div> Default userid <%=res.userid%> Default pass: <%=res.default_pass%> Created: <%=res.created_at%> </div>
          <span class="badge">Running</span> <%= link_to image_tag("delete-icon.png"),
          reservation_path(res.id), data: {confirm: "Are you sure?" }, method: :delete %>
        </li>

      <% end %>
    </ul>

</div>
