<h1> Applications for <b><%= @group.title %></b></h1>

<% if @applications.length < 1 %>
  <hr>
  <h3>No applicants to display.</h3>
<% end %>

<div id="groupList">
  <% @applications.each do |application| %>
      <div class="groupOverview">
        <%= link_to "Accept", group_application_path(application.id, status: :accepted), method: :put, class: "btn btn-success right ga-btn" %>
        <%= link_to "Decline", group_application_path(application.id, status: :declined), method: :put, class: "btn btn-danger right ga-btn" %>
        <div class="groupDetails">
          <p>
              <b>Name: </b> <%= application.user.name %> <br>
              <b>Email: </b> <%= application.user.email %> <br>
          </p>
          <p>
              <b>Qualifications</b> <br>
              <% if application.user.qualifications.blank? %>
                No qualifications available.
              <% else %>
                <%= application.user.qualifications %>
              <% end %>
          </p>
        </div>
      </div>

  <% end %>
</div>