<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StudyPal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">
  <% unless notice.nil? %>
    <p class="alert"><%= notice %></p>
  <% end %>
  <% unless alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>

<br> <br>
<%= render 'layouts/footer' %>
</body>
</html>
